# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# log-files
*.log
*.tlog

# angry visual studio files
*.png
*.htm
*.XML
*.css
*.vcproj
*.vcxproj
*.idb
*.pdb
*.suo
*.sdf
*.filters
*.ilk
*.xslt
*.lastbuildstate
*.opensdf
*.sln

*.unsuccessfulbuild
sln/vc9/bitfield.sln
*.sln
*.sln
